@import "../../../css-config/mixins.scss";

.personal-details-containner {
  box-sizing: border-box;
  width: 100%;
  margin-top: 10px;
  padding: 20px 10px;
  @include md {
    margin-top: 0;
    padding: 40px 90px;
  }
  .heading {
    font-size: 22px;
    margin-bottom: 10px;
    font-weight: 800;
    @include md {
      margin-bottom: 15px;
      font-size: 24px;
      font-weight: 800;
    }
  }
  .text {
    font-size: 15px;
    color: rgba(0, 0, 0, 0.5);
  }
  .sub-heading {
    font-size: 18px;
    font-weight: 500;
    display: block;
    margin-top: 10px;
  }
  input[type="text"],
  [type="number"],
  [type="email"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
  span {
    margin-top: 8px;
  }
  input[type="radio"] {
    margin: 8px 5px;
  }
}
